html{overflow-y:scroll;overflow-x:hidden;}
body {
	padding:0vw;
	margin:0vw;
	font-family: 'Open Sans', sans-serif;
}
h1{
    font-size:18vw;
    line-height:32vw;
	margin:0vw;
	padding:0vw;
	position:relative;
	height:25vw;
	background-size:100%,100%;
	background-repeat:no-repeat,repeat;
	text-align:center;
	color: #222;
}
.exercises {
	margin-top:7.5vw;
	margin-bottom:7.5vw;
	margin-left:15vw;
	display:inline-block;
	float:left;
}
.homework {
	margin-top:7.5vw;
	margin-bottom:7.5vw;
	margin-right:15vw;
	display:inline-block;
	float:right;
}
h2{
	background:-webkit-linear-gradient(-60deg, rgb(89,118,166) 0%, rgb(143,198,228) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size:5vw;
	line-height:5vw;
	padding:0vw;
	margin:0vw;
	margin-bottom:1vw;
}
.exercises > a{
	font-size:1.5vw;
	font-weight:400;
	text-decoration:none;
	color:gray;
	display:block;
	margin-left:0.3vw;
}
.homework > a{
	font-size:1.5vw;
	font-weight:400;
	text-decoration:none;
	color:gray;
	display:block;
	margin-left:0.3vw;
}
a:link{
	opacity:1;
}
a:hover{
	opacity:0.7;
}
a:active{
	opacity:0.4;
}
#projects{
	margin:0vw;
	padding-left:10vw;
	padding-right:10vw;
	padding-top:5vw;
	padding-bottom:5vw;
	background-size:100%,100%;
	background-repeat:no-repeat,repeat;
	clear:both;
	height:28vw;
}
h3{
	color:white;
	font-size:7.5vw;
	line-height:7.5vw;
	padding:0vw;
	margin:0vw;
	margin-bottom:4vw;
	text-align:center;
}
.one > a{
	display:block;
	float:left;
	background-color:rgba(255,255,255,0.3);
	height:5vw;
	width:25vw;
	font-size:5vw;
	font-weight:800;
	text-decoration:none;
	text-align:center;
	color:white;
	line-height:5vw;
	padding:5vw;
}
.two > a{
	display:block;
	float:right;
	background-color:rgba(255,255,255,0.3);
	height:5vw;
	width:25vw;
	font-size:5vw;
	font-weight:800;
	text-decoration:none;
	text-align:center;
	color:white;
	line-height:5vw;
	padding:5vw;
}
#welcome {
	font-size:2vw;
	color:white;
	background-color:rgb(51,43,69);
	margin:0vw;
	padding-top:7.5vw;
	padding-bottom:7.5vw;
	padding-left:10vw;
	padding-right:10vw;
	line-height:2.5vw;
}
p{
	margin:0vw;
	padding:0vw;
}
.info {
	margin:0vw;
	margin-top:2vw;
	margin-bottom:2vw;
}
.contact {
	margin:0vw;
	text-indent:5vw;
}
.contact > a {
	text-decoration:none;
	color:white;
}
h4{
	font-size:18vw;
	line-height:60vw;
	margin:0vw;
	padding:0vw;
	height:50vw;
	text-align:center;
	color:white;
	background-size:100%,100%;
	background-repeat:no-repeat,repeat;
	background-position:top;
	position:relative;
}
.aic{
	background-color:rgb(252,93,72);
	display:block;
	clear:both;
	overflow:auto;
}
#before{
	width:55vw;
	height:6.2vw;
	margin-top:-6vw;
	margin-left:22.5vw;
	margin-right:22.5vw;
	margin-bottom:0vw;
	background-color:white;
	position:absolute;
	z-index:2;
}
.aicontent{
	padding:7.5vw;
	padding-top:0vw;
	padding-bottom:0vw;
	background-color:white;
	width:40vw;
	margin-top:0vw;
	margin-left:22.5vw;
	margin-right:22.5vw;
	margin-bottom:0vw;
}
#after{
	width:55vw;
	height:6.2vw;
	margin-top:-0.2vw;
	margin-left:22.5vw;
	margin-right:22.5vw;
	margin-bottom:0vw;
	background-color:white;
	position:absolute;
	z-index:2;
}
h5{
	background:-webkit-linear-gradient(-60deg, rgb(252,93,72) 0%, rgb(253,195,111) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size:6vw;
	line-height:6vw;
	padding:0vw;
	margin:0vw;
	margin-bottom:1vw;
}
#between{
	height:10vw;
	width:71vw;
	margin-top:7.5vw;
	margin-left:-8vw;
	margin-right:-8vw;
	margin-bottom:7.5vw;
	background-color:rgb(252,93,72);
	display:block;
}
.aicontent > a{
	color:rgb(198,94,91);
	font-size:2vw;
	display:block;
	margin-left:0.3vw;
	text-decoration:none;
}
#aicprojects {
	margin:0vw;
	padding-left:10vw;
	padding-right:10vw;
	padding-top:10vw;
	padding-bottom:5vw;
	background-size:100%,100%;
	background-repeat:no-repeat,repeat;
	background-position:top;
	clear:both;
	height:28vw;
}
