#about{
  position: relative;
  width: 100%;
  padding: 100px 0 100px;
  background: linear-gradient(to bottom, #236, #844);
}

#about .section-title{
  margin-top: 80px;
  margin-bottom: 60px;
  color: #fef;
  text-transform: lowercase;
}
#about .banner-image{
  position: relative;
  height: 500px;
  margin: 0 100px;
  background: url('/media/about-banner.jpg');
  background-size: cover;
  background-position: center;
  z-index: 2;
}
#about #bio{
  position: relative;
  margin: 40px 100px;
  padding: 40px;
  color: #dcd;
  font-family: 'Noto Sans', sans-serif;
  font-size: 17px;
  z-index: 2;
}
#about #bio a{
  opacity: 0.5;
  color: #fcf;
}
#about #bio a:hover{
  opacity: 1;
}
