#about{
  position: relative;
  width: 100vw;
  padding: 97px 0 100px;
  background: linear-gradient(to bottom, #236, #844);
}

#about .section-title{
  margin-top: 80px;
  margin-bottom: 40px;
  color: #fef;
  text-transform: lowercase;
}
#about .banner-image{
  height: 500px;
  margin: 0 100px;
  background: url('/media/about-banner.jpg');
  background-size: cover;
  background-position: center;
}
#about #bio{
  margin: 40px 100px;
  padding: 40px;
  background-color: #113;
  color: #dcd;
  font-family: 'Noto Sans', sans-serif;
  font-size: 17px;
}
#about #bio .photo-cred{
  opacity: 0.5;
}
