#navbar{
  position: absolute;
  width: 100%;
  height: 37px;
  padding: 30px 0;
  background-color: transparent;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
#navbar .nav-button{
  display: inline-block;
  width: 80px;
  margin: 0 20px;
  padding: 10px;
  text-align: center;
  color: #fcf;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
  transition: color 0.2s ease;
}
#navbar .nav-button:hover{
  color: #fff;
}
#navbar .nav-button.tour{
  margin: -1px 40px 0;
  outline: 3px solid #fcf;
  font-size: 20px;
  transition: color 0.2s ease, outline 0.2s ease;
}
#navbar .nav-button.tour:hover{
  outline: 3px solid #fff;
}

#logo{
  position: absolute;
  padding: calc(27vh + 7vw - (267 / 2048) * (50% - 100px)) 100px;
  text-align: center;
}
#logo img{
  width: 100%;
}
@media screen and (max-height: 650px){
    #logo{
      padding: 190px 100px;
    }
}

#water, #navbar, #tour-banner, #portfolio{
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
}

#sky{
  position: relative;
  width: 100%;
  height: 70vh;
  min-height: 500px;
  background: linear-gradient(to bottom, #236, #844);
  overflow: hidden;
}
#sun{
  position: fixed;
  width: calc(14vw + 14vh);
  height: calc(14vw + 14vh);
  left: 0;
  right: 0;
  margin: 20vh auto 0;
  border-radius: calc(7vw + 7vh);
  background: linear-gradient(to bottom, #e57, #e9c);
}

#water{
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #113, #002);
  overflow: hidden;
}
#sun-reflection{
  position: absolute;
  width: calc(14vw + 14vh);
  height: calc(14vw + 14vh);
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: calc(7vw + 7vh);
  background: linear-gradient(to top, #e57, #e9c);
  opacity: 0.7;
}

#tour-banner{
  display: flex;
  position: relative;
  width: calc(100% - 240px);
  max-width: 840px;
  left: 0;
  right: 0;
  margin: 80px auto 60px;
  flex-wrap: wrap;
  text-align: center;
}
#tour-banner #tour-centerpiece{
  position: relative;
  min-width: 350px;
  margin: 20px;
  flex: 1 1 0;
  background: url('/media/albumcovers/album1.jpg');
  background-size: cover;
  background-position: center;
}
#tour-banner #tour-centerpiece::before{
  content: '';
  display: block;
  position: relative;
  padding-top: 100%;
}
#tour-banner #tour-desc{
  display: flex;
  position: relative;
  min-width: 350px;
  margin: 20px;
  flex-direction: column;
  flex: 1 1 0;
  align-content: start;
  text-align: left;
  color: #fcf
}
#tour-desc .date{
  position: relative;
  margin-bottom: 5px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5em;
}
#tour-desc .section-title{
  position: relative;
  margin-bottom: 5px;
  text-align: left;
  font-size: 42px;
}
#tour-desc .subheading{
  position: relative;
  margin-bottom: 20px;
  font-family: 'Lora', serif;
  font-size: 24px;
  letter-spacing: 0.2em;
}
#tour-desc .info{
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  flex-grow: 1;
  color: #bab;
  font-family: 'Noto Sans', sans-serif;
  font-size: 17px;
  overflow: visible;
}
#tour-banner .tour-btn{
  position: relative;
  display: inline-block;
  left: 0;
  right: 0;
  margin: 20px auto 0;
  padding: 10px;
  border: 3px solid #fcf;
  background-color: transparent;
  color: #fcf;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
}
#tour-banner .tour-btn:hover{
  background-color: #fcf;
  color: #002;
}

.divider{
  width: 50px;
  margin: 80px auto;
  border-bottom: 3px solid #fcf;
}

#portfolio{
  margin: 40px 100px 80px;
}
#portfolio .section-title{
  margin-bottom: 65px;
  color: #fcf;
}

#album-grid{
  display: flex;
  margin: -20px;
  flex-wrap: wrap;
  flex-direction: row;
}
#album-grid .align-group{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
}
#album-grid .item{
  position: relative;
  min-width: 220px;
  margin: 20px;
  flex-grow: 1;
  cursor: pointer;
}
#album-grid .item::before{
  content: '';
  display: block;
  padding-top: 100%;
  transition: background-color 0.2s ease;
}
#album-grid .item .name{
  position: absolute;
  margin-top: -60px;
  padding: 20px;
  color: #fef;
  font-family: 'Noto Sans', sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.2s ease;
}
#album-grid .item:hover .name{
  opacity: 1;
}
#album-grid .item.album1{
  background: url('/media/albumcovers/album1.jpg');
  background-size: cover;
  background-position: center;
}
#album-grid .item.album2{
  background: url('/media/albumcovers/album2.jpg');
  background-size: cover;
  background-position: center;
}
#album-grid .item.album3{
  background: url('/media/albumcovers/album3.jpg');
  background-size: cover;
  background-position: center;
}
#album-grid .item.album4{
  background: url('/media/albumcovers/album4.jpg');
  background-size: cover;
  background-position: center;
}
#album-grid .item:hover::before{
  background: rgba(0, 0, 0, 0.5);
}
