body{
  padding: 0;
  margin: 0;
}
svg{
  width: 0;
  height: 0;
  display: none;
}

#navbar{
  position: absolute;
  padding: 30px 0;
  height: 30px;
  width: 100vw;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
}
#navbar .nav-button{
  color: #fcf;
  font-weight: 700;
  font-size: 17px;
  padding: 10px;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: color 0.2s ease, outline 0.2s ease;
  width: 100px;
  text-align: center;
  letter-spacing: 0.2em;
}
#navbar .nav-button:hover{
  color: #fff;
}
#navbar .nav-button.tour{
  font-size: 20px;
  outline: 3px solid #fcf;
  margin: 0 40px;
}
#navbar .nav-button.tour:hover{
  outline: 3px solid #fff;
}

#logo{
  position: absolute;
  text-align: center;
  padding: calc(35vh - (267 / 2048) * (50vw - 100px) + 45px) 100px;
}
#logo img{
  width: 100%;
  z-index: 10;
}
@media screen and (max-height: 650px){
    #logo{
      padding: 190px 100px;
    }
}

#water, #navbar, #portfolio{
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
}

#sky{
  position: relative;
  width: 100vw;
  height: 70vh;
  background: linear-gradient(to bottom, #236, #844);
  overflow: hidden;
  min-height: 500px;
}
#sun{
  position: fixed;
  width: calc(14vw + 14vh);
  height: calc(14vw + 14vh);
  border-radius: calc(7vw + 7vh);
  background: linear-gradient(to bottom, #e57, #e9c);
  left: 0;
  right: 0;
  margin: 20vh auto 0;
}
#water{
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom, #113, #002);
  z-index: 2;
  overflow: hidden;
}
#sun-reflection{
  position: absolute;
  width: calc(14vw + 14vh);
  height: calc(14vw + 14vh);
  border-radius: calc(7vw + 7vh);
  background: linear-gradient(to top, #e57, #e9c);
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.7;
}

#portfolio{
  margin: 80px 100px;
}
#portfolio .section-title{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  color: #fcf;
  margin-bottom: 80px;
  letter-spacing: 0.2em;
}
#album-grid{
  display: flex;
  margin: -20px;
}
#album-grid .item{
  position: relative;
  margin: 20px;
  outline: 0px solid #fcf;
  flex-grow: 1;
  cursor: pointer;
}
#album-grid .item::before{
  content: '';
  display: block;
  padding-top: 100%;
  transition: background-color 0.2s ease;
}
#album-grid .item.album1{
  background: url('../media/albumcovers/album1.jpg');
  background-size: cover;
  background-position: center;
}
#album-grid .item.album2{
  background: url('../media/albumcovers/album2.jpg');
  background-size: cover;
  background-position: center;
}
#album-grid .item.album3{
  background: url('../media/albumcovers/album3.jpg');
  background-size: cover;
  background-position: center;
}
#album-grid .item.album4{
  background: url('../media/albumcovers/album4.jpg');
  background-size: cover;
  background-position: center;
}
#album-grid .item:hover::before{
  background: rgba(0, 0, 0, 0.5);
}
